.bonus,
.no-vesting {
  position: absolute;
  top: 132px;
  left: 317px;
  font-weight: 300;
}
.bonus {
  left: 502px;
}
.arm-container,
.arm1 {
  position: absolute;
  width: 63px;
  height: 18px;
}
.arm1 {
  top: 0;
  left: 0;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arm-container {
  top: 142px;
  left: 119px;
  text-align: center;
}
.bonus1,
.months {
  position: absolute;
  top: 187px;
  left: 317px;
  font-weight: 300;
}
.bonus1 {
  left: 502px;
}
.vesting {
  position: relative;
  font-weight: 300;
}
.vesting-wrapper {
  position: absolute;
  top: 183px;
  left: 188px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  font-size: var(--font-size-sm);
}
.arm-frame {
  position: absolute;
  top: 197px;
  left: 120px;
  width: 63px;
  height: 18px;
  text-align: center;
}
.bonus2,
.months1 {
  position: absolute;
  top: 246px;
  left: 317px;
  font-weight: 300;
}
.bonus2 {
  left: 502px;
}
.vesting-container {
  position: absolute;
  top: 242px;
  left: 188px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  font-size: var(--font-size-sm);
}
.group-div {
  position: absolute;
  top: 256px;
  left: 119px;
  width: 63px;
  height: 18px;
  text-align: center;
}
.bonus3,
.months2 {
  position: absolute;
  top: 306px;
  left: 317px;
  font-weight: 300;
}
.bonus3 {
  left: 502px;
}
.vesting-frame {
  position: absolute;
  top: 302px;
  left: 188px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  font-size: var(--font-size-sm);
}
.arm-wrapper1 {
  position: absolute;
  top: 316px;
  left: 119px;
  width: 63px;
  height: 18px;
  text-align: center;
}
.bonus4,
.months3 {
  position: absolute;
  top: 365px;
  left: 317px;
  font-weight: 300;
}
.bonus4 {
  left: 502px;
}
.frame-div {
  position: absolute;
  top: 361px;
  left: 188px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  font-size: var(--font-size-sm);
}
.arm-wrapper2 {
  position: absolute;
  top: 375px;
  left: 119px;
  width: 63px;
  height: 18px;
  text-align: center;
}
.checkbox1 {
  position: relative;
  width: 37.5px;
  height: 37.5px;
}
.bonus5,
.months4 {
  position: absolute;
  top: 425px;
  left: 317px;
  font-weight: 300;
}
.bonus5 {
  left: 502px;
}
.vesting-wrapper1 {
  position: absolute;
  top: 421px;
  left: 188px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  font-size: var(--font-size-sm);
}
.arm-wrapper3 {
  position: absolute;
  top: 435px;
  left: 119px;
  width: 63px;
  height: 18px;
  text-align: center;
}
.bonus6,
.months5 {
  position: absolute;
  top: 489px;
  left: 317px;
  font-weight: 300;
}
.bonus6 {
  left: 502px;
}
.vesting-wrapper2 {
  position: absolute;
  top: 485px;
  left: 188px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  font-size: var(--font-size-sm);
}
.arm-wrapper4 {
  position: absolute;
  top: 499px;
  left: 119px;
  width: 63px;
  height: 18px;
  text-align: center;
}
.rectangle-div {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
  width: 595px;
  height: 42.79px;
}
.vesting6 {
  position: absolute;
  top: 0;
  left: 42px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 510px;
  height: 46px;
}
.rectangle-container {
  position: absolute;
  top: 542px;
  left: 41px;
  width: 595px;
  height: 46px;
  text-align: center;
  color: var(--color-gray-100);
}
.select-your-vesting {
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 280px;
  height: 30px;
  flex-shrink: 0;
}
.select-your-vesting-period-wrapper {
  position: absolute;
  top: 13px;
  left: 178px;
  border-radius: var(--br-3xs);
  background-color: var(--color-deepskyblue-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  color: var(--color-deepskyblue-100);
}
.asset {
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 66px;
  height: 28px;
  flex-shrink: 0;
}
.asset-wrapper {
  position: absolute;
  top: 80px;
  left: 95px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
}
.time-period {
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 128px;
  height: 24px;
  flex-shrink: 0;
}
.time-period-wrapper {
  position: absolute;
  top: 80px;
  left: 288px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
}
.rewards {
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 91px;
  height: 24px;
  flex-shrink: 0;
}
.rewards-wrapper {
  position: absolute;
  top: 80px;
  left: 502px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
}
.arbitrumium-og-2-icon,
.arbitrumium-og-3-icon,
.arbitrumium-og-4-icon,
.arbitrumium-og-5-icon {
  position: absolute;
  top: 135px;
  left: 96px;
  width: 21.43px;
  height: 30px;
  object-fit: cover;
}
.arbitrumium-og-3-icon,
.arbitrumium-og-4-icon,
.arbitrumium-og-5-icon {
  top: 193px;
}
.arbitrumium-og-4-icon,
.arbitrumium-og-5-icon {
  top: 248px;
}
.arbitrumium-og-5-icon {
  top: 312px;
}
.arbitrumium-og-6-icon,
.arbitrumium-og-7-icon,
.arbitrumium-og-8-icon,
.prysm-icon-2 {
  position: absolute;
  top: 371px;
  left: 96px;
  width: 21.43px;
  height: 30px;
  object-fit: cover;
}
.arbitrumium-og-7-icon,
.arbitrumium-og-8-icon,
.prysm-icon-2 {
  top: 431px;
}
.arbitrumium-og-8-icon,
.prysm-icon-2 {
  top: 492px;
}
.prysm-icon-2 {
  top: 132px;
  left: 461.5px;
  width: 31.5px;
  height: 28px;
  object-fit: contain;
}
.prysm-icon-3,
.prysm-icon-4,
.prysm-icon-5,
.prysm-icon-6,
.prysm-icon-7,
.prysm-icon-8 {
  position: absolute;
  top: 187px;
  left: 461.5px;
  width: 31.5px;
  height: 28px;
  object-fit: contain;
}
.prysm-icon-4,
.prysm-icon-5,
.prysm-icon-6,
.prysm-icon-7,
.prysm-icon-8 {
  top: 248px;
}
.prysm-icon-5,
.prysm-icon-6,
.prysm-icon-7,
.prysm-icon-8 {
  top: 306px;
}
.prysm-icon-6,
.prysm-icon-7,
.prysm-icon-8 {
  top: 366px;
}
.prysm-icon-7,
.prysm-icon-8 {
  top: 425px;
}
.prysm-icon-8 {
  top: 489px;
}
.no-vesting-parent {
  position: absolute;
  top: 141px;
  left: 718px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 664px;
  height: 600px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-kanit);
}
